# .env
# You can copy these variables into your Vercel Project Settings -> Environment Variables

NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyAds2i0TtoiFhnLEc5D6VW9ybRLin2mxRo"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="karnan-3c0bd.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="karnan-3c0bd"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="karnan-3c0bd.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="727953520852"
NEXT_PUBLIC_FIREBASE_APP_ID="1:727953520852:web:68a43a343628904ffea341"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-G8D4MQ9HZ3"
